<!DOCTYPE HTML>
<html lang="en">
  <head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Landing Page</title>
  </head>
  <body>
<!-- Navbar Start-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" id="homebutton" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Plots
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href=""></a>
                        </div>
                      </li>
            <li class="nav-item">
              <a class="nav-link" href="comparison.html">Comparisons<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="data.html">Data</a>
            </li>
          </ul>

        </div>
      </nav>
<!--active item class: "av-item active"-->
<!-- Navbar End-->
<!--Body Start-->
<br>
<br>


         

          <div class="container" id="background">
              
              <div class="row">
                <div class="col-8" id="window">

                  <h1>Belly Button BioDiversity</h1>
                  <hr>

                  <select id="selDataset" onchange="optionChanged(this.value)">

                      

                  </select>
                  <div id="pie_chart">Pie Chart</div>
                    <script>
// Fetch JSON names and update Dropdown Menu
                    fetch("http://127.0.0.1:5000/names")
                    .then ( (response)=> {
                      return response.json();
                    })
                    .then( (jsonData)=> {
                      let select_tag = document.getElementById("selDataset");
                  
                      jsonData.forEach((sample_name) => {
                        let option_tag = document.createElement("option");
                        option_tag.innerHTML = sample_name;
                        select_tag.appendChild(option_tag);
                      
                      });
                      
                    });

                    // Pie Chart
fetch("http://127.0.0.1:5000/samples/BB_941")
.then( (response) => {
  return response.json();
})
.then( (json_Data) => {

let sample_values = json_Data[1].sample_values.slice(0,10); 
let otu_ids = json_Data[0].otu_ids.slice(0,10);

let pie_trace = {
  values: sample_values,
  labels: otu_ids,
  type: 'pie'
};

let data = [pie_trace];

let layout = {
  height: 400,
  width: 500
};

Plotly.newPlot("pie_chart", data, layout);

})


// Update Pie Chart



function updatePlotly(sample_id){
    let pieDiv = document.getElementById("pie_chart");
    
    fetch(`http://127.0.0.1:5000/samples/${sample_id}`)
    .then( (response) => {
    return response.json()
    })

    .then( (json_Data) => {

        let new_sample_values = json_Data[1].sample_values.slice(0,10);
        let new_otu_ids = json_Data[0].otu_ids.slice(0,10);

        Plotly.restyle(pieDiv, "values", [new_sample_values]);
        Plotly.restyle(pieDiv, "labels", [new_otu_ids]);

  })
};

// Dropdown Menu onchange Function

function optionChanged(dropdown_choice) {

updatePlotly(dropdown_choice)

};







                    </script>

                  
                    
                </div>

                <div class="col-4" id="window">
                  <h1>Side Headline</h1>
                  <hr>
                  </div>

              </div>
            </div>
              <!--Body End-->
              
              <!-- Footer Start-->
        
              <footer class="footer">
                  <div class="container" id="footer1">
                    Copyright Something!
                  </div>
                </footer>

              <!-- Footer End-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>